* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-background-color: #FFF3E8;
    --border-ilne-color: #AB5200;
}

body {
    background-color: var(--body-background-color);
    height: 720px;
}

.prof-details {
    margin: 0;
    padding: 6px;
    display: inline-block;
    position: absolute;
    left: 38%;
    top: 5%;
}

.prof-details > img {
    margin-left: 60px;
    margin-bottom: 15px;
}
.prof-details > h2 {
    font-size: 32px;
    color: var(--border-ilne-color);
}
.nav_logo {
    display: inline-block;
    position: absolute;
    left: 6%;
    top: 8%;
}
.nav_logo > a {
    display: block;
}
.text-content {
    margin: 0;
    padding: 20px;
    width: 35%;
    border: 4px solid var(--border-ilne-color);
    border-radius: 25px;
    position: absolute;
    left: 32%;
    top: 45%;
}
.text-content > h3 {
    margin-bottom: 16px;
    font-size: 24px;
}